<!-- modal_season_eps -->
<div style="max-width: 100%;" id="modal_season_eps" class="zoom-anim-dialog mfp-hide modal">
  <h6 class="modal__title">{{ modal_title }}</h6>

  <div style="padding: 20px" class="modal__text">{{{ $slots.body() }}}</div>

  <div class="modal__btns" style="justify-content: space-evenly">
    {{{ $slots.actions() }}}
  </div>
</div>
<!-- end modal_season_eps -->
