<!-- modal delete -->
<div id="modal-episode" class="zoom-anim-dialog mfp-hide modal">
  <h6 class="modal__title">{{ modal_title }}</h6>

  <div class="">{{{ $slots.body() }}}</div>

  <div class="modal__btns">
    {{{ $slots.actions() }}}
  </div>
</div>
<!-- end modal delete -->
