<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180653735-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180653735-1');
    </script>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="css/nouislider.min.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/plyr.css" />
    {{--  <link rel="stylesheet" href="css/photoswipe.css" />  --}}
    <link rel="stylesheet" href="css/default-skin.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/main.css" />

    <!-- Favicons -->
    <link
      rel="icon"
      type="image/png"
      href="favicon.png"
      sizes="32x32"
    />
    <link rel="apple-touch-icon" href="favicon.png" />

    <meta name="description" content="Animes Valle foi projetado, análisado e desenvolvido com o propósito de trazer conforto e simplicidade na hora de assistir Animes. Com um design moderno, animes com ótima qualidade e um bom suporte, você poderá se divertir o quanto quiser!" />
    <meta name="keywords" content="animes,animes online,valle,valley,assistir animes,animes hd,animes valle,animes valley" />
    <meta name="author" content="Animes Valle" />
    <title>{{ title }}</title>
  </head>
<body>
  {{--  header  --}}
  @include('includes/header')
  {{--  end header  --}}

  <main>
    @section('content')
    @endsection
  </main>

  {{--  footer  --}}
  @include('includes/footer')
  {{--  end footer  --}}

  {{--  JS  --}}
  <script src="./js/jquery-3.5.1.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/owl.carousel.min.js"></script>
  <script src="./js/jquery.mousewheel.min.js"></script>
  <script src="./js/jquery.mCustomScrollbar.min.js"></script>
  <script src="./js/wNumb.js"></script>
  <script src="./js/nouislider.min.js"></script>
  <script src="./js/jquery.morelines.min.js"></script>
  <script src="./js/plyr.min.js"></script>
  {{--  <script src="./js/photoswipe.min.js"></script>
  <script src="./js/photoswipe-ui-default.min.js"></script>  --}}
  <script src="./js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  <script src="./js/main.js"></script>

  {{--  <script>
    const socket = io('http://127.0.0.1:3000');
    socket.on('news', (data) => {
      console.log("Console no console browser (lado front)", data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>  --}}

  @if(flashMessages.get('sucess'))
    <script>
      Toastify({
      text: "{{ flashMessages.get('sucess') }}",
      duration: 3000,
      close: true,
      gravity: "top", // `top` or `bottom`
      position: 'right', // `left`, `center` or `right`
      offset: {
        x: 50, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
        y: 10 // vertical axis - can be a number or a string indicating unity. eg: '2em'
      },
      backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
      stopOnFocus: true, // Prevents dismissing of toast on hover
      onClick: function(){} // Callback after click
    }).showToast();
    </script>
  @elseif(flashMessages.get('errors'))
    <script>
      Toastify({
      text: "{{ flashMessages.get('errors') }}",
      duration: 3000,
      close: true,
      gravity: "top", // `top` or `bottom`
      position: 'right', // `left`, `center` or `right`
      backgroundColor: "linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113))",
      stopOnFocus: true, // Prevents dismissing of toast on hover
      onClick: function(){} // Callback after click
    }).showToast();
    </script>
  @else

  @endif

  @section('js')
  @endsection
</body>
</html>
